{% load staticfiles %}

<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8"/>
	<meta name = "viewport" content = "width = device-width, initial-scale = 1">
	<title> Tweet Tweet </title>
	
	<link rel = "icon" href = "img/twitter.jpg"/>
	<link rel = "stylesheet" href = "static/css/main.css"/>
</head>

<body>
	<!-- <audio autoplay>
		<source src = "https://www.youtube.com/watch?v=pzDeP9zBBsk" type = "audio/wav">
	</audio>
	<div style="position:relative;width:267px;height:25px;overflow:hidden;">
		<div style="position:absolute;top:-276px;left:-5px">
			<iframe width="300" height="300" 
			src="https://www.youtube.com/watch?v=pzDeP9zBBsk">
			</iframe>
		</div>
	</div> 
-->

	<audio autoplay>
		<source src="static/youtube.mp3" type="audio/mpeg">
	</audio>

	
  
     <div class = "navbar">
		<div class = "dropdown">
            <button class = "dropbtn1"> LOGIN/REGISTER <i class = "fa fa caret-down"></i></button>
            <div class = "dropdown-content">
				<a href = "{% url 'login' %}"> Login </a>
				<a href = "{% url 'register' %}"> Register </a>
			</div>
		</div>
        <div class = "dropdown">
			<button class = "dropbtn2"> OTHER <i class = "fa fa caret-down"></i></button>
			<div class = "dropdown-content">
				<a href = "{% url 'index' %}"> Home Page </a>
				
			</div>
		</div>
        
        <div class = "topnav">
	        <input type = "search" name = "search" id = "search" placeholder = "Search for tweet..">
        </div>
    </div>

    <div id = "wrapper">
		<header id = "header">
			<hgroup id = "title">
				<!-- <img src ="static/youtube.gif" alt = "logo" width = "300" height = "200" style = "padding:10px"> -->
				
				<img src ="https://media.giphy.com/media/pZCvWKwehPyUM/giphy.gif" alt = "logo" width = "300" height = "200" style = "padding:10px">
                <h1> Video watcher thingy mayne </h1>
			</hgroup> 
		</header> 
	</div>

	View Profile: <a href="{% url 'profile' user.username %}"> Click Here! </a>

</body>
</html>  
